# All files and folders ignore
*
*/

# Allow specific files only
!app.py
!gsheets.py
!database.py
!requirements.txt
!style.css
!.gitignore

# Exclude sensitive folders strictly
.streamlit/
venv/
__pycache__/
.git/
